env:
  global:
  - secure: XPjmdre/cwUeLrc3v7HZXZSy5hQX/ArHuCFEDpQYJttJzjOa6HU772Ez6SYOU6UNlzsmN4C5jfLrdjYMXGr18Y1INim2vfAypGywf4OK7fbCJlLzc1mIz1a16IuBqaoI4ZRHQAqSeNevzpmdiJv3s5iGYtGB4siHd6RFeGsmIv9ZVohW5vj1rPZxVuKuDxAprNN722nEoFTWRtORoiJ8WTG2E3HTnk14AjDNcrMIwzMrlXl97BWqPH5AjWH6fGrP5oTG2MrVEcAeiioGFuBOG0M/LJFrGzJK/9ITneAcsrdKHg7weT0AmHMnJCe4OIIll2x29wwot99A4dKt4i264H0p4fWD6yiYUonIUH4qIXkwhGeHJpERbPsKSiEjoGTewf7rgGDPFU2V558co43VytVgRbGUklZ2XSC6LvRciJPuF7DMjS/j4hOZuhSbVkSs0yJgn1AbT90mRh8yujUa8+b4wVINTWL0xtpLFdzqel/T29dRRoMHK/5VizXo4gPp0kweFLYOFCds9Ju7NMPy/pv9k9Is549qKyA5i7ayKBgsSnBYcTN/ZLMuNrTs5pQWJctqL4JfQapvxL1uo1IwRfYp6748Ns8q5sHu2896dRBfutez1nTDEnmoetLvuD7YcOYK8Hi+4o3/VmhQ0vmwG9NrvXWOAMypR/SciqpTs8A=
  - secure: k2vrkbuQFdY78eX1Tpx6Xn+fphXuiEZp6xGXySnMeyhQqv7hmg3mIm8z1HMGw5hqcr+skwfqPY/GP19dQWHpDbWNKE2K91B/9yExChJkYNYMWZSTgUwklkgK78AlYjeruPiXo4O8czkzKTia0+gH54wEdALMHGGRLdG6KMLTAAtwSy/pw2z7qinBXeqIdHqKPccrkFJ2AehHJVM9vdXj16bAZ7BmBw3M5pgxlff6oCDYcUXOhZYqfN1ji+9wiHM3G7o5xiKxDubzFu2pjdrFooWxCOGgd8fM0QSb/J/CxczShUtrgXHYL04IMVuiOoIgljDa3xCsjNlimSVQWnH1RbPLP5okmOUeg3Z/EatFICPciT9fRSC9p9TeLaVqZt9j6Ex8r76UAPSILW6txeJ0kD3wgrdiib8y8rG3jsq/kgvgV141u3CTTl/Lz1UV6p2wQig7KOHkzgnzN7VZqlJ42TpdEqJBtRpIuLmAcLWRiBWxq259ZJb8+m211O7zCGiyM7+BEuJajT+1KjIFOAKWHeH9CaMNzaK0nwpSN1Y8e3Zkyi/JsVUgOZONvsNp3R0ih37Ga6W/aTVx0jrmLFUZ3aECSIN9ghK841UkA8gt7KIb3yF466fnwrqFTlqrDldGDGadQ0hJsgDYamYfo4E3Aq3KX+nYN13O/7Lv/U5R0GE=
  - secure: GFbvmhnMQVKMU+54VD9yuKsUSNtIIXqqAae1DwFRcXErolUwh9jn/sQFm9FJ+WvOBUkuQakQutULbbcx3vYUQijKc9cTkwGtvK6AAsAVSV+goD74Mznp1dbCPsKCng8zvkleDxbUaNmeBw9yLLI1E6lhk5AZPkSE1t+4QFSqRjmSJHP42aFJaDxv4S52LI9TakTBjQJa1AXYOLimVS/Y8/qrcVOTgeqNLZ1ZAqneVcaD/Z9xWhQJhih1CJhF+4vwAlNJoMX84asLJ8AjNkIjXqyqxA8UfZn7CNa9ksqxMqtPKXil5VQgwt1hXmQe15i9rLr1ypJhUUoYlDDTCGY4+lpRsJantHcF9Rsnd/T5eB99yc+8q+yrmTSwcdKjZpxHR7iwoE3gvxFl6GPpFOTXrUUD0a14xmFuJhYadC83moNdf7HF9Lg0BlZvwCiLns5CqI+W99TGLvsZkSBeaGSAHxq8g7Fte+hVFy8YGcyGmrDGqUtXhQOjZYJCfss+41f5eyLqn0Fj7SQn2gHvictLjtL7DDHsT/VyigQVIrumMzbgR40EBv81ZaGHunjO68QsvB+F1rNdoiJm2a/mdpRDB85QqVNVTXkd9SNRwmEGF2VXQJ0eC9E60qhT9kv16igYsFLZjPi3VmscAm9ixOUIMVSehLL4EBJtoWA60xYZcNI=
  - GOOGLE_APPLICATION_CREDENTIALS="client-secrets.json"
language: java
sudo: false
jdk:
  - openjdk8
before_install:
  - openssl aes-256-cbc -K $encrypted_d25b186b6dd5_key -iv $encrypted_d25b186b6dd5_iv
    -in client-secrets.json.enc -out client-secrets.json -d
stages:
  - unit_test
  - e2e_test
jobs:
  include:
  - stage: unit_test
    script: mvn -q clean test
    script: mvn -q cobertura:cobertura
  - stage: e2e_test
    script: "./travis/run_e2e_tests.sh $E2E_TEST_PROJECT $E2E_TEST_BUCKET $E2E_TEST_DATABASE"
after_success:
  - bash <(curl -s https://codecov.io/bash)
